.profile {
    display: flex;
}
.photo{
    display: flex;
    order: -1;
}
.mainProfile {
    color: rgb(110, 0, 0);
    text-align: left;
}

.photo img {
    border-radius: 100%;
    border: 2px solid rgb(0, 17, 255);
    width: 100px;
    height: 100px;
}

.mainProfile div {
    margin: 20px 0 45px 0;
    font-size: 25px;
}