.header, .header__search, .header__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  grid-area: h;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0 10px;
}

.header__search img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
}

.search, .search::placeholder {
  color: rgb(168, 26, 26);
}

.search {
  border-radius: 10px;
  width: 250px;
  height: 40px;
  background-color: rgb(255, 249, 169);
  padding-left: 10px;
}

.call {
  display: flex;
  margin-left: 700px;
}

.call img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 5px;
}

.header__profile {
  background:rgb(251, 248, 198);
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.header__profile:hover{
  background:rgb(251, 241, 93);
}

.header__profile img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 0;
}