/* main settings */

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
  font-family: Castoro;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

/*  */


/*  */

/* body */

/* choose chat */

.chats a {
  display: block;
  font-weight: bold;
  color: #0051ff;
  border: 1px solid black;
  padding: 20px;
  width: 18%;
}

/*  */

/* main chat */

.chat {
  position: sticky;
  top: 95%;
}

.mainChat {
  margin-left: 300px;
  width: 78%;
  height: 40px;
  float: left;
}

.send {
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  margin: 0 0 0 10px;
}