/* main settings */

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
  font-family: Castoro;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 15px;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

.bg_app{
  background-color: rgb(162, 194, 252);
  border-radius: 5px;
  box-shadow: 8px 8px 7px -1px gray;
}

.boxPost{
  display: flex;
  align-items: center;
  width: 600px;
  height: 60px;
  background-color: rgb(132, 182, 223);  
  padding: 0 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.App{
  display: grid;
  grid-template-areas: "h h" "n m";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  width: 80vw;
  min-height: 100vh;
  margin: 0 auto;
  grid-gap: 10px;
}

