 .nav{
    grid-area: n;
    position: sticky;
    top: 10px;
    min-height: 110vh;
    z-index: 1;
 }

  .chats a {
    display: block;
    padding: 20px 201px 20px 20px;  
    font-weight: bold;
    color: #0051ff;
    
    border-bottom: 1px solid rgb(146, 137, 137);
  }
 